/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
width: 100%;
}
strong {font-weight: bold;}

/* 헤더 영역*/
header {display: block;}
#header_wrap {
    width: 1020px;
    min-height: 154px;
    padding: 0;
    margin: 0 auto;
}

#header_wrap #gnb {
    display: block;
    width: 100%;
    height: 112px;
}
#header_wrap #util_menu {
    overflow: visible;
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
}
#header_wrap #util_menu .top_left {float: left;}
#header_wrap #util_menu .top_left > ul {float: left; overflow: hidden;}
#header_wrap #util_menu .top_left > ul > li {float: left;}
#header_wrap #util_menu .top_left > ul > li > a {
    display: block;
    overflow: hidden;
    float: left;
    width: 38px;
    height: 29px;
    color: #666;
    line-height: 29px;
    font-weight: bold;
    background-position: -7px 0;
}
#header_wrap #util_menu .top_right {float: right;}
#header_wrap #util_menu .top_right ul {float: left;}
#header_wrap #util_menu .top_right ul > li {float: left; overflow: hidden;}
#header_wrap #util_menu .top_right ul #name_area {
    color: #333;
    height: 29px;
    padding: 9px 14px 0 0;
}
#header_wrap #util_menu .top_right ul > li > a {
    line-height: 29px;
    font-weight: bold;
}
#header_wrap #util_menu .top_right ul > li:nth-child(2) > a {
    display: block;
    overflow: hidden;
    float: left;
    width: 59px;
    height: 29px;
    background-position: -740px 0;
    text-align: center;
}
#header_wrap #util_menu .top_right ul > li:nth-child(3) > a {
    display: block;
    overflow: hidden;
    float: left;
    width: 79px;
    height: 29px;
    background-position: -799px 0;
    text-align: center;
}
#header_wrap #util_menu .top_right ul > li:nth-child(4) > a {
    display: block;
    overflow: hidden;
    float: left;
    width: 79px;
    height: 29px;
    background-position: -870px 0;
    text-align: center;
}
#header_wrap #util_menu .top_right ul > li:nth-child(5) > a {
    display: block;
    overflow: hidden;
    float: left;
    width: 67px;
    height: 29px;
    background-position: -941px -116px;
    margin-right: 4px;
    text-align: center;
}
#header_wrap #logo {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
#header_wrap #gnb > form {
    position: absolute;
    float: left;
    display: inline-block;
    width: 272px;
    height: 36px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 18px;
    padding-right: 55px;
    vertical-align: top;
}
#header_wrap #gnb > form > input {
    position: absolute;
    width: 100%;
    height: 37px;
    border: 1.2px solid #41d26b;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box;
}
#header_wrap #gnb > form > button {
    position: absolute;
    right: 10px;
    top: 6px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #41d26b;
    outline: none;
}
#header_wrap #gnb_menu {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 42px;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#header_wrap #gnb_menu > ul:nth-child(1) {float: left;}
#header_wrap #gnb_menu > ul:nth-child(1) > li {float: left; padding: 0 8px 0 8px;}
#header_wrap #gnb_menu > ul:nth-child(2) {float: right;}
#header_wrap #gnb_menu > ul:nth-child(2) > li {float: left; padding: 0 8px 0 8px;}
#header_wrap #gnb_menu > ul > li > a {
    display: block;
    margin-right: 7px;
    margin-left: 7px;
    line-height: 42px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}




/* 메인 영역*/
main {
    display: block;
    overflow: visible;
    width: auto;
    min-height: 600px;
    margin: 0 auto;
}
.main_slider {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-top: 34px;
}
.main_slider #slider {
    position: relative;
    width: 1020px;
    margin: 0 auto;
}
.main_slider .prev {
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 246px;
    padding-top: 150px;
    padding-right: 30px;
    z-index: 20;
    margin-right: -91px;
}
.main_slider .prev span > i {
    float: right;
    display: block;
    overflow: hidden;
    font-size: 120px;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px;
}
.main_slider .next {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 246px;
    padding-top: 150px;
    padding-left: 30px;
    z-index: 20;
    margin-left: -91px;
}
.main_slider .next span > i {
    float: left;
    display: block;
    overflow: hidden;
    font-size: 120px;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px;
}
.main_slider .slider_inner {
    position: relative;
    width: 1020px;
    height: 396px;
    margin: 0 auto;
}
.main_slider .list_slider {
    position: absolute;
    margin-left: -21px;
    width: 3797px;
    left: -1076px;
}
.main_slider .list_slider li {
    position: relative;
    float: left;
    width: 269px;
    height: 396px;
    padding: 0 2px 0 3px;
}
.main_slider .list_slider a {display: block;}
.main_slider .list_slider .thumb {
    display: block;
    position: relative;
    width: 256px;
    height: 320px;
    padding: 6px 6px 0 7px;
    overflow: hidden;
}
.main_slider .list_slider li img {width: 256px;}
.main_slider .list_slider .thumb .frame {
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
}
.main_slider .list_slider .on .thumb .thumb_off .frame {
    background: none;
    width: 254px;
    height: 318px;
    opacity: 0.03px;
}
.main_slider .list_slider .txt {
    display: block;
    padding: 12px 0 0;
    height: 58px;
}
.main_slider .list_slider .txt .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 4px;
    padding: 0 7px;
}
.main_slider .list_slider .txt .opt {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #888;
    text-align: center;
}


/* 메인 conts_section */
#conts {
    display: block;
    overflow: visible;
    position: relative;
    width: 1008px;
    min-height: 600px;
    padding: 0 20px 53px;
    margin: 0 auto;
}

/* main_performance */
.main_performance {
    display: block;
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid #ddd;
}
.main_performance .list_main_performance {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 73px 0 23px;
}
.main_performance .list_main_performance .nth1 .tit {
    left: 0;
    width: 335px;
    border-left: 0 none;
}
.main_performance .list_main_performance .nth2 .tit {
    left: 335px;
    width: 335px;
}
.main_performance .list_main_performance .nth3 .tit {
    left: 671px;
    width: 334px;
}
.main_performance .list_main_performance .on .tit {
    background-color: #fff;
    border-bottom-color: #fff;
}
.main_performance .list_main_performance .on .tit a {color: #000;}
.main_performance .list_main_performance .tit {
    position: absolute;
    top: 0;
    height: 48px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.main_performance .list_main_performance .tit a {
    display: block;
    height: 48px;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: #333;
    text-align: center;
}
.main_performance .list_main_performance .on .box_cont {
    display: block;
    padding: 0 5px;
}
.main_performance .list_main_performance .box_cont {display: none;}
.main_performance .list_main_performance .box_cont ul {
    display: block;
    overflow: hidden;
    width: 965px;
    margin: 0 auto;
}
.main_performance .list_main_performance .box_cont ul li {
    float: left;
    width: 161px;
    padding: 0 16px;
}
.main_performance .list_main_performance .box_cont .thumb {
    display: block;
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 225px;
}
.main_performance .list_main_performance .box_cont .thumb a {display: block;}
.main_performance .list_main_performance .box_cont .thumb img {
    width: 160px;
    vertical-align: top;
}
.main_performance .list_main_performance .box_cont .txt {
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0;
}
.main_performance .list_main_performance .box_cont .txt a {
    color: #333;
    font-size: 14px;
}

/* main_banner */
.main_banner {
    margin-top: 20px;
}
.main_banner a {
    display: block;
    height: 100px;
}

/* main_float */
.main_float {
    display: block;
    overflow: hidden;
    width: 100%;
}
/* 티켓오픈소식 */
.main_float .box_ticket_open {
    float: left;
    position: relative;
    width: 320px;
    height: 435px;
    margin-top: 15px;
    margin-left: 0;
}
.main_float .tit_main_float {
    display: block;
    width: 100%;
    height: 54px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 54px;
}
.main_float .box_ticket_open .list_ticket_open {
    display: block;
    overflow: hidden;
    width: 278px;
    height: 396px;
    padding: 0 20px;
    border: 1px solid #eee;
}
.main_float .box_ticket_open .list_ticket_open li {
    border-top: 1px solid #eee;
}
.main_float .box_ticket_open .list_ticket_open .nth1 {
    border-top: 0 none;
}
.main_float .box_ticket_open .list_ticket_open .inner_ico {
    padding: 16px 0 15px;
}
.main_float .box_ticket_open .list_ticket_open .inner {
    display: block;
    padding: 15px 0;
}
.main_float .box_ticket_open .list_ticket_open .inner_ico .ico {
    display: block;
    overflow: hidden;
    height: 28px;
}
.main_float .box_ticket_open .list_ticket_open .inner_ico .ico span {
    display: inline-block;
    padding: 0 5px;
    margin-top: 6px;
    font-size: 12px;
    height: 20px;
    line-height: 22px;
    color: #fff;
    text-align: center;
}
.main_float .box_ticket_open .list_ticket_open .inner_ico .ico1 {
    background-color: #41d26b;
}
.main_float .box_ticket_open .list_ticket_open .inner_ico .txt {
    display: block;
    height: 18px;
    padding-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_float .box_ticket_open .list_ticket_open .txt {
    display: block;
    overflow: hidden;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    letter-spacing: 0;
}
.main_float .box_ticket_open .list_ticket_open .more {
    display: block;
    padding-top: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #888;
    letter-spacing: 0;
}
/* 더보기 */
.main_float .ctr {
    position: absolute;
    top: 13px;
    right: 0;
}
.main_float .ctr > a {
    display: inline-block;
    height: 30px;
    padding-right: 12px;
    font-size: 13px;
    line-height: 30px;
    color: #888;
}

/* For U */
.main_float .box_for_u {
    float: left;
    position: relative;
    width: 320px;
    height: 435px;
    margin-top: 15px;
    margin-left: 24px;
}
.main_float .box_for_u .inner {
    display: block;
    width: 318px;
    height: 396px;
    text-align: center;
    border: 1px solid #eee;
}
.main_float .box_for_u .inner p {
    display: block;
    overflow: hidden;
    padding-top: 33px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333;
    text-align: center;
}
.main_float .box_for_u .inner strong {
    display: block;
    overflow: hidden;
    padding-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    text-align: center;
}
.main_float .box_for_u .inner strong span {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #00b523;
}
.main_float .box_for_u .inner .thumb {
    display: block;
    position: relative;
    margin: 51px auto 48px;
}
.main_float .box_for_u .inner > a {
    display: inline-block;
    overflow: hidden;
    height: 43px;
    padding: 0 0 0 25px;
    border: 1.2px solid #888;
    border-radius: 26px;
}
.main_float .box_for_u .inner > a > span {
    display: inline-block;
    overflow: hidden;
    padding: 11px 37px 11px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: top;
}

/* 랭킹 */
.main_float .box_ranking {
    float: left;
    position: relative;
    width: 320px;
    height: 435px;
    margin-top: 15px;
    margin-left: 24px;
    margin-bottom: 22px;
}
.main_rank {
    display: block;
    overflow: hidden;
    border: 1px solid #eee;
}
.main_rank .list_main_rank {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 46px 0 0 0;
}
.main_rank .list_main_rank .tit {
    position: absolute;
    top: 0;
    height: 44px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
}
.main_rank .list_main_rank .on .tit {
    background-color: #fff;
    border-bottom-color: #fff;
}
.main_rank .list_main_rank .nth1 .tit {
    left: 0;
    width: 111px;
    border-left: 0 none;
}
.main_rank .list_main_rank .nth2 .tit {
    left: 111px;
    width: 90px;
}
.main_rank .list_main_rank .nth3 .tit {
    left: 202px;
    width: 115px;
}
.main_rank .list_main_rank .on .tit a {color: #00b523;}
.main_rank .list_main_rank .tit a {
    display: block;
    height: 44px;
    font-weight: normal;
    font-size: 12px;
    line-height: 44px;
    color: #888;
    text-align: center;
}
.main_rank .list_main_rank .on .box_cont {
    display: block;
    padding: 0 20px;
}
.main_rank .list_main_rank .box_cont {display: none;}
.main_rank .list_main_rank .list_ranking {
    display: block;
    overflow: hidden;
    width: 278px;
    height: 351px;
    margin: 0 auto;
}
.main_rank .list_main_rank .list_ranking .nth1 {padding-top: 14px;}
.main_rank .list_main_rank .list_ranking .item {
    display: block;
    position: relative;
    padding: 0 0;
}
.main_rank .list_main_rank .list_ranking .nth1 .inner {border-top: 0 none;}
.main_rank .list_main_rank .list_ranking .inner {
    display: block;
    height: 89px;
    padding: 9px 0px 9px 112px;
    border-top: 1px solid #eee;
}
.main_rank .list_main_rank .list_ranking .ranking {
    position: absolute;
    top: 8px;
    left: 3px;
    width: 16px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    text-align: center;
}
.main_rank .list_main_rank .list_ranking .change {
    display: block;
    position: absolute;
    top: 39px;
    left: 0;
    width: 19px;
    height: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #888;
    text-align: center;
}
.main_rank .list_main_rank .list_ranking .tit_cont {
    display: block;
    overflow: hidden;
    height: 36px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-overflow: ellipsis;
    white-space: normal;
    padding-top: 3px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main_rank .list_main_rank .list_ranking .day {
    display: block;
    overflow: hidden;
    height: 17px;
    padding-top: 10px;
    font-size: 13px;
    line-height: 17px;
    color: #888;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0;
}
.main_rank .list_main_rank .list_ranking .lacation {
    display: block;
    overflow: hidden;
    height: 18px;
    padding-top: 0;
    font-size: 13px;
    line-height: 18px;
    color: #888;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_rank .list_main_rank .list_ranking .thumb {
    display: block;
    position: absolute;
    top: 9px;
    left: 31px;
    width: 66px;
    height: 89px;
}

/* main_concert */
.main_concert {padding-top: 28px;}
.main_concert > h2 {
    display: block;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #333;
}
.main_concert .list_main_concert {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -30px;
}
.main_concert .list_main_concert li.first {
    margin-left: 0;
    padding-right: 1px;
}
.main_concert .list_main_concert li {
    float: left;
    margin-left: 29px;
    padding-top: 30px;
}
.main_concert .list_main_concert .inner {
    display: block;
    width: 180px;
    height: 358px;
    padding: 24px 24px 21px;
    border: 1px solid #eee;
}
.main_concert .list_main_concert .thumb {
    display: block;
    position: relative;
    width: 180px;
    height: 250px;
    overflow: hidden;
}
.main_concert .list_main_concert .thumb img {width: 180px;}
.main_concert .list_main_concert .tit {
    display: block;
    overflow: hidden;
    height: 20px;
    padding: 13px 0 9px;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_concert .list_main_concert .day {
    display: block;
    overflow: hidden;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_concert .list_main_concert .lacation {
    display: block;
    overflow: hidden;
    height: 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #888;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_concert .list_main_concert .stat {
    display: block;
    overflow: hidden;
    height: 20px;
    padding-top: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #00cd3c;
    text-overflow: ellipsis;
    white-space: nowrap;
}






/* 공지사항 푸터 영역*/
.footer_notice {
    overflow: hidden;
    width: 1020px;
    height: auto;
    margin: 0 auto;
    padding: 13px 0;
    border-top: 1px solid #eee;
}
.footer_notice > strong {
    float: left;
    font-size: 13px;
    margin-right: 40px;
    font-weight: normal;
    color: #000;
}
.footer_notice > ul {margin-left: 44px;}
.footer_notice > ul > li > p > a {
    font-size: 13px;
    margin-right: 30px;
    color: #666;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 577px;
    padding-right: 5px;
}
.footer_notice > ul > li > p > span {
    font-size: 11px;
    color: #666;
    vertical-align: middle;
}

/* 푸터 영역*/
footer {
    width: 1020px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.footer_quick_link {
    overflow: hidden;
    padding: 15px 0 14px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #b8b8b8;
}
.footer_quick_link .box1 {
    float: left;
    font-size: 0;
    width: 380px;
}
.footer_quick_link .box1 > a {
    display: inline-block;
    width: 60px;
    height: 22px;
    margin-right: 23px;
    margin-left: 0;
    font-size: 0;
    background: url("../img/logo2.PNG") no-repeat 0 0;

}
.footer_quick_link .box2 {
    float: right;
    padding-top: 4px;
    width: 360px;
    text-align: right;
}
.footer_quick_link .box2 > a {
    display: inline-block;
    font-weight: bold;
    color: #666;
    margin-left: 30px;
}
.footer_quick_link .box2 > span {
    display: inline-block;
    font-weight: bold;
    color: #666;
    margin-left: 30px;
}
.inner_footer {
    position: relative;
    padding-right: 150px;
}
.inner_footer ul {
    display: block;
    overflow: visible;
    width: auto;
    padding: 23px 0 26px;
    clear: both;
}
.inner_footer > ul > li {float: left;}
.inner_footer > ul > li:nth-child(1) > a {
    padding-left: 0;
    padding-right: 7px;
    border: none;
}
.inner_footer > ul > li > a {
    display: inline-block;
    padding: 0 9px;
    line-height: 12px;
    letter-spacing: 0;
    color: #202020;
    border-left: 1px solid #e9e9e9;
}
.inner_footer > p {
    color: #909090;
}
.inner_footer > p > span {
    display: inline-block;
    padding: 0 17px 4px 0;
    letter-spacing: 0;
}
.inner_footer > p > strong {padding-right: 17px;}
.inner_footer > p > a {
    display: inline-block;
    color: #505050;
    padding-right: 17px;
}
.inner_footer .safe_service {
    position: absolute;
    right: -2px;
    top: 23px;
    width: 220px;
}
.inner_footer .safe_service dl dt {
    font-weight: bold;
    color: #505050;
    padding-bottom: 4px;
}
.inner_footer .safe_service dl dd {
    font-size: 11px;
    color: #909090;
    line-height: 16px;
}
.inner_footer .safe_service dl dd a {
    display: inline-block;
    margin-top: 2px;
    font-size: 11px;
    color: #505050;
    padding-right: 9px;
}
footer .ban {padding: 29px 0 31px;}

/* 오른쪽 하단 상단 이동버튼 */
#top {
    position: fixed;
    left: 45%;
    bottom: 10px;
    margin-left: 600px;
    /* display: none; */
    width: 54px;
    height: 54px;
    background-image: url('../img/top.png');
    border: none;
    font-size: 0;
    cursor: pointer;
}